.counter {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
    margin: 0 5px  5px 5px;
    cursor: pointer;
    color: #000000;
   

}

.counter:hover{
background-color: #FFFFFF;
}