.trainig {
  max-width: 255px;
}

.trainig__list {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  align-items: center;
}
.trainig__top {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.training__result {
  text-align: center;
}
.trainig__final {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.training__timer {
  text-align: center;
  font-size: 34px;
  cursor: pointer;
}
.traing__bottom-block {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-training {
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.overlay-training__watch {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
  cursor: pointer;
}
.overlay-training__counter {
  z-index: 2;
  color: white;
  font-size: 36px;
}
.overlay-training__title {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
}
