
.trainig__list{
    display: flex;

    flex-wrap: wrap;
    align-items: center;
}
.trainig__top{
    flex-wrap: wrap;
    width: 100%;
    display: flex;

}
.training__result{
    text-align: center;

}
.trainig__final{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.training__timer{
    text-align: center;
    font-size: 34px;
}
.traing__bottom-block{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}