
.trainig__list{
    display: flex;

    flex-wrap: wrap;
    align-items: center;
}
.trainig__top{
    display: flex;

}
.trainig__result{
    margin-left: 10px;
}
.training__timer{
    text-align: center;
    font-size: 34px;
}