.start-trainig__top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.start-trainig__list{
    text-align: center;
}

.training-watch{
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}