.init{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    background-color: #F1D95C; 
}

.init__gif{
   cursor: pointer;
   width: 500px;
   height: auto;
}

@media screen and (max-width: 700px){
.init{
    justify-content: center;

}
.init__gif{
    width:  100%;
    }
} 