.choice-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 252px;
    height: 100%;
    

}
.choice-count__top{
    margin-right: auto;
    margin-bottom: 20px;
}
.choice-count__top img{
    width: 50px;
}
.choice-count__list{
    display: flex;

    flex-wrap: wrap;
    align-items: center;
}