
.choice-count__top{
    margin-right: auto;
    margin-bottom: 20px;
}

.choice-count__list{
    display: flex;

    flex-wrap: wrap;
    align-items: center;
}
.choice-count__link{
    text-decoration: none;
}
.choice-count__btn{
    font-size: 16px;
    background: #87dda1;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    margin: 10px 0;
    cursor: pointer;

}